body {
	background-color: #2a2a2a; /* Темно-серый фон */
	color: #e0e0e0; /* Светло-серый текст */
	font-family: 'Arial', sans-serif;
	margin: 0;
	padding: 0;
}

label {
	color: #ff6f91; /* Розовый цвет для текста меток */
    margin: auto 10px auto 0;
	font-size: large;
}

select {
	background-color: #3a3a3a;
	border: 1px solid #ff6f91;
	color: #e0e0e0;
	padding: 6px 8px;
    margin-top: 2px;
    border-radius: 6px;
    justify-items: center;
	text-align: center;
    width: 120px;
}

input[type="number"], input[type="text"] {
	background-color: #3a3a3a;
	border: 1px solid #ff6f91;
	color: #e0e0e0;
	padding: 6px 8px;
    margin-top: 2px;
    border-radius: 6px;
    justify-items: center;
	text-align: center;
    width: 100px;
}

input[type="button"], button {
	background-color: #ff6f91;
	border: none;
	color: #e0e0e0;
	padding: 8px 20px;
	cursor: pointer;
	border-radius: 6px;
}

input[type="button"]:hover, button:hover {
	background-color: #ff8fa3; /* Светло-розовый фон при наведении */
}

#output {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.output_title {
	color: #ff6f91;
	padding-left: 10px;
}

.output_params {
	color: #e0e0e0;
	padding-left: 10px;
	display: flex;
	justify-content: space-evenly;
    align-items: flex-end;
}

#output a {
	text-decoration: none;
	padding: 8px;
}

#output a:hover {
	text-decoration: none;
}

#current_page {
	color: #ff6f91; 
	margin: 0 10px;
}

.sortation  {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 20px;
}


.output_element a,.output_element {
	display: flex;
	flex-direction: row;
}


.output_element {
	border-radius: 10px;
	background-color: #3a3a3a; /* Темный фон для элементов вывода */
	display: flex;
    flex-direction: column;
    justify-content: center;
	margin: 5px;
	width: -webkit-fill-available;
}

.output_preview {
	padding: 0;
}

.output_preview img {
    width: 90px;
    border-radius: 6px;
}

.output_error {
	align-items: center;
    padding: 8px;
}

.output_pair {
	display: flex;
    flex-direction: row;
	max-width: 1000px;
}

.output_control {
	display: flex;
    flex-direction: row-reverse;
}